<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>V2Stat Report</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.1.0/dist/echarts.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">

    <div class="header-box">
        <div class="pull-right">
            <h4 class="update-time">
                <span>Last updated: </span>
                <span>{{.Date}}</span>
            </h4>
        </div>
    </div>
    <div class="general-box">
        <h4>Overall Statistics</h4>
        <div class="general-items">
            <div class="row">
                <div class="col-md-2 mx-auto">
                    <div class="grid-module">
                        <div class="col-title">Monthly Traffic</div>
                        <span class="grid-val">{{.TotalTraffic}}</span>
                    </div>
                </div>
                <div class="col-md-2 mx-auto">
                    <div class="grid-module">
                        <div class="col-title">Monthly Rx.</div>
                        <span class="grid-val">{{.TotalRx}}</span>
                    </div>
                </div>
                <div class="col-md-2 mx-auto">
                    <div class="grid-module">
                        <div class="col-title">Monthly Tx.</div>
                        <span class="grid-val">{{.TotalTx}}</span>
                    </div>
                </div>
                <div class="col-md-2 mx-auto">
                    <div class="grid-module">
                        <div class="col-title">Users</div>
                        <span class="grid-val">{{.UserCount}}</span>
                    </div>
                </div>
                <div class="col-md-2 mx-auto">
                    <div class="grid-module">
                        <div class="col-title">Last Month Traffic</div>
                        <span class="grid-val">{{.TrafficLastMonth}}</span>
                    </div>
                </div>
                <div class="col-md-2 mx-auto">
                    <div class="grid-module">
                        <div class="col-title">Generated By</div>
                        <span class="grid-val">V2Stat</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panels">
        <div class="row" style="height: 400px">
            <div class="col-md-6">
                <div class="panel-item" id="last-week-total-chart" style="width: 100%; height: 100%"></div>
            </div>
            <div class="col-md-6">
                <div class="panel-item" id="last-week-user-chart" style="width: 100%; height: 100%"></div>
            </div>
        </div>
        <div class="row" style="height: 400px">
            <div class="col-md-6">
                <div class="panel-item" id="this-month-user-chart" style="width: 100%; height: 100%"></div>
            </div>
            <div class="col-md-6">
                <div class="panel-item" id="last-month-user-chart" style="width: 100%; height: 100%"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var lastWeekChart = echarts.init(document.getElementById("last-week-total-chart"));
    lastWeekChart.setOption({
        title: {
            text: "Traffics last 7 days"
        },
        tooltip: {
            trigger: 'axis',
            formatter: tooltipFormatTraffic
        },
        legend: {},
        xAxis: {type: "category"},
        yAxis: {
            axisLabel: {
                formatter: format
            }
        },
        dataset: {
            dimensions: ['date', 'rx', 'tx'],
            source: [
                {{ range .LastWeekRecords }}
                {date: "{{.Date}}", rx: {{.Rx}}, tx: {{.Tx}} },
                {{ end }}
            ]
        },
        series: [
            {type: "line", smooth: true},
            {type: "line", smooth: true}
        ]
    });
    var userChart = echarts.init(document.getElementById("last-week-user-chart"));
    userChart.setOption({
        title: {
            text: "Traffics last 7 days"
        },
        tooltip: {
            trigger: 'axis',
            formatter: tooltipFormatUser
        },
        legend: {},
        xAxis: {type: "category"},
        yAxis: {
            axisLabel: {
                formatter: format
            }
        },
        dataset: {
            dimensions: ['user', 'rx', 'tx'],
            source: [
                {{ range .UserRecords }}
                {user: "{{.User}}", rx: {{.Rx}}, tx: {{.Tx}} },
                {{ end }}
            ]
        },
        series: [
            {type: "bar"},
            {type: "bar"}
        ]
    });

    var monthlyUserChart = echarts.init(document.getElementById("this-month-user-chart"));
    monthlyUserChart.setOption({
        title: {
            text: "Traffics this month"
        },
        tooltip: {
            trigger: 'axis',
            formatter: tooltipFormatUser
        },
        legend: {},
        xAxis: {type: "category"},
        yAxis: {
            axisLabel: {
                formatter: format
            }
        },
        dataset: {
            dimensions: ['user', 'rx', 'tx'],
            source: [
                {{ range .MonthlyUserRecords }}
                {user: "{{.User}}", rx: {{.Rx}}, tx: {{.Tx}} },
                {{ end }}
            ]
        },
        series: [
            {type: "bar"},
            {type: "bar"}
        ]
    });

    var lastMonthUserChart = echarts.init(document.getElementById("last-month-user-chart"));
    lastMonthUserChart.setOption({
        title: {
            text: "Traffics last month"
        },
        tooltip: {
            trigger: 'axis',
            formatter: tooltipFormatUser
        },
        legend: {},
        xAxis: {type: "category"},
        yAxis: {
            axisLabel: {
                formatter: format
            }
        },
        dataset: {
            dimensions: ['user', 'rx', 'tx'],
            source: [
                {{ range .LastMonthUserRecords }}
                {user: "{{.User}}", rx: {{.Rx}}, tx: {{.Tx}} },
                {{ end }}
            ]
        },
        series: [
            {type: "bar"},
            {type: "bar"}
        ]
    });

    function tooltipFormatTraffic(params, ticket, callback) {
        var rx = format(params[0].value.rx);
        var tx = format(params[0].value.tx);
        // TODO beautify
        callback(ticket, params[0].value.date + "<br/>" + "Rx: " + rx + "<br/>" + "Tx: " + tx);
    }

    function tooltipFormatUser(params, ticket, callback) {
        var rx = format(params[0].value.rx);
        var tx = format(params[0].value.tx);
        // TODO beautify
        callback(ticket, params[0].value.user + "<br/>" + "Rx: " + rx + "<br/>" + "Tx: " + tx);
    }

    function format(value) {
        var unitsSuffixes = ["B", "KiB", "MiB", "GiB", "TiB"];
        var unit = 0;
        while (unit < 4 && value >= 1000) {
            value /= 1024;
            unit++;
        }
        var s = value.toString();
        var i = s.indexOf(".");
        return s.substr(0, i > 0 ? i + 2 : s.length) + " " + unitsSuffixes[unit];
    }
</script>
<style>
    body {
        background: #f6f2f2;
    }

    * {
        box-sizing: border-box;
    }

    .pull-right {
        float: right !important;
    }

    .grid-module {
        margin-top: 5px;
        padding: 7px;
        background: #dadde6;
        border-top: 4px solid #888787;
    }

    .panels {
        margin-top: 20px;
    }

    .panels .row {
        margin-top: 20px;
    }

    .grid-module .col-title {
        font-size: 85%;
        color: #545454;
    }

    .grid-val {
        font-weight: bold;
        font-size: 25px;
    }

    .update-time {
        font-size: 80%;
        font-weight: bold !important;
    }

    .panel-item {
        background: #f7f7f7;
        padding-top: 4px;
        box-shadow: 0 0 5px #969696;
    }
</style>
</html>
